{
    "layer": "top",
    "position": "top",
    "height": 25,
    "modules-left": ["ext/workspaces"],
    "modules-right": ["pulseaudio", "network", "clock", "memory", "tray"],

    "ext/workspaces": {
        "format": "{name}:",
        "on-click": "activate",
        "all-outputs": true
    },

    "pulseaudio": {
        "format": "[ {volume}% {icon}   ]",
        "format-muted": ":: MUTE x ::",
        "format-icons": ["", ""]
    },

    "network": {
        "format-wifi": "[    ]",
        "format-disconnected": ":: 󰖪  ::"
    },

    "clock": {
        "format": "[ {:%m/%d/%y %H:%M} ]"
    },

    "disk": {
        "format": "[ 󰋊 {free} ]"
    },

    "memory": {
        "format": "[ 󰍛 {used} GiB ]"
    }
}
